img{
	height: 100%;
	width: 100%;
}


.gallery{
	width: 800px;
	height: 600px;
	display: grid;
	gap: 7px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
    "olen olen lisa lev"
    "tigr sova sova jiraf"
    "enot leopard wolf jiraf";
}


.olen{
	grid-area: olen;
}
.lisa{
	grid-area: lisa;
}
.lev{
	grid-area: lev;
}
.tigr{
	grid-area: tigr;
	object-fit: cover;
}
.sova{
	grid-area: sova;
}
.jiraf{
	grid-area: jiraf;
}
.enot{
	grid-area: enot;
}
.leopard{
	grid-area: leopard;
}
.wolf{
	grid-area: wolf;
}

.animal{
	position: relative;
	transition: 1.2s;
}

.animal img{
	transition: 0.5s;
}

.animal div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 45px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	font-family: Gill Sans, sans-serif;
}

.animal:hover div{
	opacity: 1;
}

.animal:hover img{
	filter: blur(1.4px);
	transform: scale(1.03);
	border: 1px solid rgb(0, 0, 0);
}

