.gallery{
	width: 800px;
	height: 600px;
	display: grid;
	gap: 7px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
    "olen olen lisa lev"
    "tigr sova sova jiraf"
    "enot leopard wolf jiraf"
}


.olen{
	grid-area: olen;
}
.olen img{
	width: 400px;
}

.lisa{
	grid-area: lisa;
}
.lisa img{
	height: 200px;
	object-position: -15px;
}

.lev{
	grid-area: lev;
}
.lev img{
	height: 200px;
	object-position: -20px;
}

.tigr{
	grid-area: tigr;
}
.tigr img{
	height: 199px;
	object-position: -36px;
}

.sova{
	grid-area: sova;
}
.sova img{
	width: 395px;
	object-position: 0px -6px;
}

.jiraf{
	grid-area: jiraf;
}
.jiraf img{
	height: 395px;
	object-position: -21px;
}

.enot{
	grid-area: enot;
}
.enot img{
	width: 252px;
	object-position: -37px;
}

.leopard{
	grid-area: leopard;
}
.leopard img{
	width: 198px;
	object-position: -37px;
}

.wolf{
	grid-area: wolf;
}
.wolf img{
	width: 194px;
}


.animal{
	position: relative;
	transition: 1.2s;
	overflow: hidden;
}

.animal img{
	transition: all 0.5s linear;
}

.animal div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 45px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	font-family: Gill Sans, sans-serif;
}

.animal:hover div{
	opacity: 1;
}

.animal:hover img{
	filter: blur(1.4px);
	transform: scale(1.1);
}

